<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>地瓜盒</title>
    <link rel="icon" type="img/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="card_main">
        <img src="../static/images/dino_digua.png" alt="dino digua" class="card-image">
        <div class="card">
            <p>
                <a href="..">主页</a> >> 关于
            </p>
            <p class="title">Desgin by 奶酪糖·梦都</p>
            <p>一只即将步入社会的笨蛋小猫。</p>
        </div>
    </div>
</body>