<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>地瓜盒</title>
    <link rel="icon" type="img/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="card_main">
        <p style="font-size: 36px;">地瓜盒 | DiguaCloud</p>
        <audio controls>
            <source src="{{ url_for('static', filename='music/' + selected_music) }}" type="audio/mpeg">
        </audio>
        <img src="../static/images/dino_digua.png" alt="dino digua" class="card-image">
        <div class="card">
            <!--随机一个句子~-->
            <br>
            <p class="greeting">
                <script language="JavaScript">
                    let quotes = [
                        '慎用Easytier组网工具，我不想再损失任何一个节点了。',
                        '永远怀恋Neko节点，死于对等网络封禁。',
                        '你的技术是先进的，写出来的网站是拉跨的，你究竟是什么人！',
                        '已经有HCIP-Datacom，接下来考RHCE，最后再来个CKA，我就美满了。',
                        '灌注可爱的梦都喵。',
                        '给茉子一个有地将臣，她能照顾好闺蜜整晚的高质量睡眠。',
                        '朝武芳乃天下第一！',
                        '草莓草莓，你的小手放在哪里呀？',
                        '“我可是高性能的！”——ATRL',
                        '善良的艾玛、纯洁的艾玛、乖孩子艾玛。'
                    ];
                    let randIndex = Math.floor(Math.random() * quotes.length);
                    document.write(quotes[randIndex]);
                </script>
            </p>
            <br>
            <hr>
            <!--这里是网页的正文~-->
            <p>
                <a href="." target="_blank">主页</a> |
                <a href="./notice" target="_blank">文章</a> |
                <a href="nuoshui" target="_blank">若水的博客</a> |
                <a href="./about" target="_blank">关于</a>
            </p>
            <p class="title">Ciallo～(∠・ω<)⌒★</p>
            <p style="text-indent: 2em;line-height: 1.8">
                欢迎来到地瓜站！这里是 DiguaCloud 的 Site 节点，是地瓜集群中专门用于 Web 服务的节点。本站主要由笨蛋梦都维护，梦都会不定期发表一些文章、
            更换随机音乐列表、发布服务器公告（大部分与 Home 节点的 Minecraft 服务器有关）。
            </p>
            <br>
            <b>资源列表：</b>
            <ul style="list-style-type: none; padding-left: 0;">
                    {% for page in resource_file %}
                <li style="margin: 5px 0;line-height: 1.8">
                    <a href="{{ url_for('static', filename='resource/' + page) }}">{{ page.replace('.html', '.md') }}</a>
                </li>
                {% else %}
                <li>唔哇，这里什么资源都没有捏 🐦······ </li>
                {% endfor %}
            </ul>
            <br>
            <b>随机音乐：</b>
            <p>当前装填音乐 ~ 🎶
                <input type="text" id="musicUrlInput" value="https://www.kwymengdu.online{{ url_for('static', filename='music/' + selected_music) }}" readonly style="width: 500px;">
                <button type="button" onclick="copyMusicUrl()">复制链接</button>
            </p>
            <p style="color: grey;">*标题下方的播放器会在每次刷新后随机从后端选择一首乐曲播放。</p>
            <script>
                function copyMusicUrl() {
                    var copyText = document.getElementById("musicUrlInput");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999);
                    document.execCommand("copy");
                    alert("链接已复制到剪贴板！");
                }
            </script>
            <hr>
            <br>
            <a href="https://github.com/MENGDU123" target="_blank">Github（奶酪糖·梦都）</a>
            <span style="float: right">
                我是合法的 <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备2025174285号-1</a>
            </span>
        </div>
    </div>
</body>